.headerName {
    display: flex;
    position: center;
    margin: auto;
    font-size: 6rem;
    
    text-decoration: underline;
    text-decoration: bold;
    color:rgba(0, 0, 0, 0.92)
}

.phrase {
    font-size: 3rem;
    position: center;
    margin: auto;
    color: rgba(0, 0, 0, 0.872)
}

.bg-image {
    outline: 2px solid black;
    padding: 50em;
    background-repeat: no-repeat;
    border: 5px solid  rgb(82, 21, 14);
}

.searchButton {
    font-size: rem;
    text-decoration: bold;
    border: 5px solid rgb(82, 21, 14);
    padding: 1.2em 2.25em;
    box-shadow: rgb(0, 0, 0);
   	color: rgb(64, 179, 36);
}

.loginButton {
    font-size: 2rem;
    text-decoration: bold;
    border: 5px solid  rgb(82, 21, 14);
    padding: 1em 2.25em;
    box-shadow: rgb(89, 110, 113);
   	color: rgb(120, 105, 20);
}

.signupButton {
    font-size: 2rem;
    text-decoration: bold;
    border: 5px solid rgb(82, 21, 14);
    padding: 1em 2.25em;
    box-shadow: rgb(89, 110, 113);
   	color: rgb(26, 64, 109);
}
