.title {
    font-family: sans-serif;
    font-style: oblique;
    font-stretch: ultra-expanded;
    font-weight: 900;
    font-size: 4rem;
    display: flex;
    position: center;
    margin: auto; 
    text-decoration: underline;
    text-decoration: bold;
    color:rgba(108, 5, 5, 0.79)
}

.phrase {
    font-family: sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-stretch: ultra-expanded;
    font-size: 1.5rem;
    position: center;
    margin: auto;
    color: rgba(60, 26, 26, 0.735)
}

.bg-image {
    outline: .5px solid rgb(123, 5, 5);
    padding: 0em;
    background-repeat: no-repeat;
    border: 1px solid  rgb(179, 170, 170);
    opacity: 20;
}

.searchButton {
    font-size: 2rem;
    border: 5px solid rgb(0, 0, 0);
    padding: 1em 1.2em;
   	color: rgb(32, 116, 11);
}

.loginButton {
    font-size: 2rem;
    border: 5px solid  rgb(0, 0, 0);
    padding: 1em 1em;
   	color: rgb(72, 66, 30);
}

.signupButton {
    font-size: 2rem;
    border: 5px solid rgb(0, 0, 0);
    padding: 1em .6em;
   	color: rgb(7, 71, 148);
}