* {
    margin: 0;
    padding: 0;

}

h1 {
    color: rgba(145, 89, 84, 0.968);
    margin-top: 30px;
    margin-bottom: 60px;
}

div {
    text-align: center;
    
    margin: auto;
}

button {
    cursor: pointer;
}

/* img {
    url="http%3A%2F%2Fsoundcloud.com%2Fundefined&color=orange_white&size=32" 
    style="width: 32px; height: 32px;"></iframe>
} */